@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
/* @custom-variant dark (&:where(.dark, .dark *)); */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-urbanist: "Urbanist", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(25, 25, 46);
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(12, 12, 34);
}